.card{
    --bs-card-border-width: 0; 
}

.card-img-top{
    height: 22rem;
}

h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-body{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: blanchedalmond;
}

div.position-absolute{
    top: 4rem;
    background-color: blanchedalmond;
    color: white;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 20px;
    opacity: 0;
}

p.position-absolute{
    background-color: blanchedalmond;
    color: black;
    bottom: 8rem;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 5px;
    border: 2px solid white;
    opacity: 0;
}

#hover{
    position: absolute;
    background: black;
    border-radius: 5px;
    opacity: 0;
}

div.card:hover #hover{
    opacity: 0.4;
}

div.card:hover div.position-absolute, div.card:hover p.position-absolute{
    opacity: 1;
}



